.hedding{
    display: flex;
    width: 75%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

.main{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    
}

.main button{
    
    padding-right: 20px;
}
.main label{
    color: brown;
    text-align: center;
    margin-top: 7px;
}

.container{

    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    width: 11.5%;
    
    
}
button:hover{
    background-color: brown;
    
}
