

.main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.main .header{
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
}

.container_1 ,.container_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    background-image: url(https://media.istockphoto.com/photos/green-poker-background-picture-id453187915?k=20&m=453187915&s=612x612&w=0&h=yDGWRSaErS7B6MPaJ8g9PyaH0JqwGk4IfwnKpnsNYEQ=);
   
}

.container_1 div{
    border: 1px solid black;
    height: 400px;
    flex: 1;
    color: aliceblue;
    
}

.container_3{

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: aliceblue;
    background-image: url(https://media.istockphoto.com/photos/green-poker-background-picture-id453187915?k=20&m=453187915&s=612x612&w=0&h=yDGWRSaErS7B6MPaJ8g9PyaH0JqwGk4IfwnKpnsNYEQ=);
}

.container_3 table{
   margin: 10px;
   border: 1px solid white ;
   width: 23%;
   padding: 10px;
}

.table1 td {
    border: 1px solid white;
    width: 23%;
}
.table1 th{
    border: 1px solid white;
}





